* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    height: 100vh;
    color: white;
    font-size: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 50% 50%;
}

.A {
    background-color: chartreuse;
}

.B {
    background-color: orange;
}

.C, .D {
    background-color: red;
}

.E {
    background-color: blue;
}

.F {
    background-color: yellow;
}